.tab-page.partners-tab
  %h2 Our Partners

  %a{href: 'javascript:void(0)', ng: {click: 'openLink("http://www.yawuru.com")'}}
    %img.logo{src: 'img/nby_logo1.png'}

  %a{href: 'javascript:void(0)', ng: {click: 'openLink("http://www.yawuru.com")'}}
    %img.logo.nby{src: 'img/nby_logo2.png'}

  %a{href: 'javascript:void(0)', ng: {click: 'openLink("http://arts.gov.au/indigenous/ils")'}}
    %img.logo{src: 'img/ILS_logo.png'}

  %a{href: 'javascript:void(0)', ng: {click: 'openLink("http://www.thoughtworks.com")'}}
    %img.logo{src: 'img/tw_logo.png'}