.tab-page.locations-tab
  %h2 {{ locationTab.label }}

  %p
    Mabu Yawuru Ngan-ga is the language resource centre at Nyamba Buru Yawuru. The centre has been set up to ensure Yawuru language continues to be used in and around Broome on a daily basis now and into the future.

  %p
    You can purchase language resources and merchandise including t-shirts, calendars, Yawuru Cultural Management Plan, etc. from our shop, located at 55 Reid Road. We are open 9am-4pm. No EFTPOS facilities.

  .location