.tab-page.history-tab
  %h2 {{ historyTab.label }}

  %p From the traditions of the Bugarrigarra Yawuru language was given to people in Yawuru country; the myths and rituals of the Bugarrigarra locate language within specific places, and Yawuru language is used to tell the stories of Yawuru country.

  %p Yawuru belongs to the Nyulnyulan family of languages, which expands over the Dampier Peninsula and is unique to this region.

  %p Yawuru is only spoken fluently by a small number of people, however many Yawuru and non-Yawuru children and adults alike are learning Yawuru language in schools and at Mabu Yawuru Ngan-ga; the Yawuru language centre.

  %p Yawuru language is being woken up in the community.

  %p Thanks to the hard work and dedication of elders and speakers as well as the recognition of Yawuru’s native title rights and the Yawuru Agreements we now have the resources and infrastructure to support and promote Yawuru language.