.tab-page.resources-tab
  %h2 {{ resourcesTab.label }}

  %p Mabu Yawuru Ngan-ga employs a number of artists to illustrate Yawuru language books, PowerPoint presentations with audio, playing cards, posters and board games for use in language learning classes.

  %p 
    A list of some of the available resources can be found on our 
    %a.resources{href: 'javascript:void(0)', ng: {click: 'openLink("http://www.yawuru.com/language-centre/resources/")'}} website.