@font-face {
  font-family: 'Sleep Talk';
  src: url('../fonts/sleeptalk-jila-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Elliot Six';
  src: url('../fonts/ElliotSix-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}